<h1>Welcome, <%= @user.username %>!</h1>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<h2>Your Current Balance: <%= @user.formatted_balance %></h2>

<h3>Menu Options:</h3>
<ul>
  <li><%= link_to "Ver Saldo", dashboard_path %></li> 
  <li><%= link_to "Extrato", statement_path %></li> 
  <li><%= link_to "Saque", withdraw_form_path %></li> 
  <li><%= link_to "Depósito", deposit_form_path %></li> 
  <li><%= link_to "Transferência", '#' %></li> 
  <% if @user.vip? %>
    <li><%= link_to "Solicitar visita do gerente", '#' %></li> <% end %>
  <li><%= button_to "Trocar de usuário (Logout)", logout_path, method: :delete, data: { confirm: "tem certeza que deseja sair?" } %></li>
</ul>
