<h1 class="text-center mb-4 text-theme-accent">Extrato da Conta de <%= @user.username %></h1>

<div class="alert alert-theme-info text-center mb-4 shadow-sm" role="alert">
  <h2>Saldo Atual: <%= @user.formatted_balance %></h2>
</div>

<% if @transactions.empty? %>
  <p class="alert alert-light text-center" role="alert">Não há transações para exibir ainda.</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover caption-top table-theme-dark">
      <caption>Últimas Transações</caption>
      <thead>
        <tr>
          <th scope="col" style="width: 15%;">Data</th>
          <th scope="col" style="width: 10%;">Hora</th>
          <th scope="col" style="width: 55%;">Descrição</th>
          <th scope="col" class="text-end" style="width: 20%;">Valor (R$)</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= transaction.created_at.strftime("%H:%M:%S") %></td>
            <td class="text-nowrap"><%= transaction.description %></td> 
            <td class="text-end text-nowrap">
              <% if transaction.transaction_type == 'withdrawal' ||
                    transaction.transaction_type == 'transfer_out' ||
                    transaction.transaction_type == 'transfer_fee' ||
                    transaction.transaction_type == 'manager_visit_fee' ||
                    transaction.transaction_type == 'negative_balance_fee' %>
                <span class="text-transaction-negative fw-bold"> (<%= transaction.formatted_amount %>) </span>
              <% else %>
                <span class="text-transaction-positive fw-bold"> <%= transaction.formatted_amount %> </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to "Voltar ao Dashboard", dashboard_path, class: "btn btn-secondary w-100 mt-3" %>